@{
    ViewBag.Title = "Home Page";
}

    <div class="wrapper" style="Color: green;" align="Center">
        <h1>Gestion de Fincas Cafeteras</h1>
        <p class="lead"> Bienvenido al sitio web del sistema de Gestion de fincas cafeteras de colombia</p>

        <img src="\Imagenes\Finca.jpg">
    </div>

<div class="row">
    
</div>